In [61]:
import pandas as pd

In [65]:
from matplotlib import pyplot as plt

In [71]:
import numpy as np

In [72]:
sample_data = pd.read_csv('85658_2016_2_1_2022.csv')

In [89]:
sample_data

      COOPID   YEAR   MONTH   DAY   precipitation
0      85658   2016       2     1            0.10
1      85658   2016       2     2            1.80
2      85658   2016       2     3            0.00
3      85658   2016       2     4            0.00
4      85658   2016       2     5            0.40
...      ...    ...     ...   ...             ...
2157   85658   2021      12    28          -99.99
2158   85658   2021      12    29          -99.99
2159   85658   2021      12    30          -99.99
2160   85658   2021      12    31          -99.99
2161   85658   2022       1     1            0.00

[2162 rows x 5 columns]

In [ ]:
# The data shows inaccurate data and needs data cleansing